@font-face {
  font-family: DigitalNumbers-Regular;
  src: url(files/DigitalNumbers-Regular.ttf);
}

.color-hex {
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.copy {
  padding: 1rem 1.5rem;
  border-radius: 15px;

  margin: 5px 10px;
  border: 2px solid #fff;
  transition: 0.5s ease;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
}
.copy:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.1);
}
.copy:focus {
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
  background-color: #0a58ca;
}

.alert {
  width: 80%;
  position: fixed;
  background-color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 40px;
  bottom: -100%;
  transition: 0.5s ease-out;
  display: flex;
}
.alert.db {
  display: flex;
  bottom: 5%;
}

.ads {
  position: absolute;
  bottom: 0;
}
